*, *::before, *::after {
  box-sizing: border-box;
}

body *,
body ::before,
body ::after, {
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-delay: var(--transition-delay);
  transition-property: none;
}

html {
  font: var(--font);
  letter-spacing: var(--letter-spacing);
}

body {
  font-size: var(--body-font-size);
  color: toThemeColor(text);
  background-color: toThemeColor(body-bg);
}

img {
  vertical-align: top;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5em;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.6rem; }

p, ul, ol, li {
  line-height: var(--line-height-typography);
  margin: 0 0 calc(var(--line-height-typography) * 1em);
}

ul, ol {
  padding: 0 0 0 2em;
  margin: 0 0 1em 0;
}

li {
  margin-bottom: .2em;
}

code {
  color: var(--code-text);
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: var(--code-bg);
  border-radius: var(--main-radius);
}

mark {
  background-color: toThemeColor(mark-bg);
}

blockquote {
  font-size: var(--blockquote-font-size);
  color: toThemeColor(blockquote-text);
  border-left: var(--blockquote-border-size) solid toThemeColor(blockquote-border);
  margin-left: 0;
  padding: var(--blockquote-padding);
  background-color: toThemeColor(blockquote-bg);

  p {
    margin-bottom: 0.5em;
    font-style: italic;
  }

  cite {
    color: toThemeColor(cite-color);
    font-size: .8em;
  }
}

::-webkit-input-placeholder { color: var(--input-placeholder); }
::-moz-placeholder { color: var(--input-placeholder); }
:-moz-placeholder { color: var(--input-placeholder); }
:-ms-input-placeholder { color: var(--input-placeholder); }
