html.theme-light,
// use as default
:root {
  --font-size: 62.5%;
  --body-font-size: 1.3rem;
  --line-height: 1;
  --line-height-typography: 1.6;
  --font-family: Nunito, 'Open Sans', sans-serif;
  --font: var(--font-size)/var(--line-height) var(--font-family);

  --main-radius: 4px;

  --transition-function: cubic-bezier(.5, 0, .2, 1);
  --transition-duration: 150ms;
  --transition-delay: 0s;

  --text: #{convert-theme-color(#5f6677)};
  --body-bg: #{convert-theme-color(#fafafa)};
  --primary: #{convert-theme-color(#4f8ff7)};
  --success: #{convert-theme-color(#8Bc34A)};
  --info: #{convert-theme-color(#00a7f7)};
  --warning: #{convert-theme-color(#ff8f00)};
  --danger: #{convert-theme-color(#f7156e)};
  --border: #{convert-theme-color(#e2e3e5)};
  --accent: var(--primary);
  --link: #{convert-theme-color(#00a7f7)};

  --form-prefix: #{convert-theme-color(#8c96aa)};
  --form-path-bg: #{convert-theme-color(#fafafa)};
  --form-control-bg: #{convert-theme-color(#ffffff)};
  --input-placeholder: rgba(140, 150, 169, .65);
  --form-radio-bg: #{convert-theme-color(#ffffff)};
  --form-switch: #{convert-theme-color(#ffffff)};
  --form-switch-box-bg: #{convert-theme-color(#b9c7d4)};

  --table-striped-bg: #{convert-theme-color(#f8f9fa)};
  --table-row-hover-bg: #{convert-theme-color(#fafafb)};
  --table-tfoot-bg: #{convert-theme-color(#ebebeb)};
  --table-thead-bg: #{convert-theme-color(#f9fafb)};

  --code-text: #{convert-theme-color(#476582)};
  --code-bg: rgba(27, 31, 35, .05);

  --mark-bg: #{convert-theme-color(#f2b126)};

  --blockquote-text: #{convert-theme-color(#999999)};
  --blockquote-border: #{convert-theme-color(#dfe2e5)};

  // Multipliers
  --medium-multiplier: 1.2;
  --large-multiplier: 1.4;

  // Controls
  --control-border-width: .07em;
  --control-font-size: 1.3rem;
  --control-margin: 2rem;

  // Alert
  --alert-padding: 0.6em 2em;
  --alert-font-weight: 400;
  --alert-line-height: 1.6;
  --alert-font-size: 1.3rem;
  --alert-border-width: 1px;

  // Table
  --table-td-padding: 1.2rem 2rem;
  --table-th-padding: 1.5rem 2rem;
}
